<?xml version="1.0"?>

<configuration>
  
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />

    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True"
providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    
    <siteMap defaultProvider="secureProvider">
      <providers>
        <add name="secureProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"                      
             connectionStringName="LocalSqlServer" 
             requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="false" 
             passwordFormat="Hashed" 
             minRequiredNonalphanumericCharacters="0" 
             minRequiredPasswordLength="1" />
      </providers>
    </membership>

    <roleManager enabled="true" />
    
    <authentication mode="Forms">
      <forms loginUrl="/All/Home.aspx" />
    </authentication>
    
    <compilation debug="true" targetFramework="4.0" />
    
  </system.web>

</configuration>
